apiVersion: v1
kind: Service
metadata:
  name: review-service
  labels:
    {{- include "review-api-chart.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "review-api-chart.selectorLabels" . | nindent 4 }}


